<td id="star-rate<%= book.id %>"></td>

<script>
  $('#star-rate<%= book.id%>').raty({
  size      : 36,
  starOff   : '<%= asset_path('star-off.png') %>',
  starOn    : '<%= asset_path('star-on.png') %>',
  half      : false,
  readOnly: true,
  score: <%= book.star %>,
  });
</script>